@import '../../../../functions/colour';

.sub-component {
   box-decoration-break: clone;
   display: inline-block;
   caret-color: lighten(colour('terracotta'), .1);
}

@debug 'Touches `sub-component.scss`';
